body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carouselparent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 1100px;
    height: 450px;
}

.latest-work {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.latest-work-part {
    margin: 30px;
    background-color: white;
    border-radius: 20px;
    overflow:  hidden;
    transform: scale(0.8);
    opacity: 0.6;
    transition: transform 0.6s ease, opacity 0.6s ease;
    flex: 0 0 400px;
    margin: 0 15px;
    box-shadow: 14px 14px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 14px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 5px 0px rgba(0,0,0,0.75);
}

.latest-work-part.active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

.latest-work-part1 {
    height: 50%;
    border-radius: 20px;
}

.latest-work-part1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.latest-work-part2 {
    height: 50%;
    padding: 5px 20px 10px 20px;
    z-index: 1;
}

.controls {
    top: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;;
}

.controls button {
    padding: 20px;
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.controls button:hover {
    background-color: rgb(255, 45, 45);
    color: white;
    transition: 0.25s ease-in-out;
}

.carousel-position {
    padding: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-position > * {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px;
}

.CA {
    background-color: white;
}