* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
}

nav {
    position: absolute;
    top: 0;
    margin-top: 10px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
}

nav h3 {
    margin-right: 130px;
}

nav h3 span {
    color: rgb(255, 45, 45);
}


nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    gap: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
}

nav ul li {
    padding: 12px;
}

nav ul li:hover {
    background-color: rgb(255, 45, 45);
    border-radius: 5px;
    border: 0px;
    padding: 12px;
    transition: ease-in-out 0.4s;
}


nav a {
    color: white;
}

nav button {
    margin-left: 130px;
    padding: 10px 15px;
    border-radius: 0;
    border: 0px;
    color: white;
    background-color: rgb(255, 45, 45);
    cursor: pointer;
}

nav button:hover {
    border-radius: 20px;
    color: rgb(255, 45, 45);
    background-color: white;
    transition: ease-in-out 0.5s;
}

.container {
    width: 100%;
    height: 20rem;
    color: white;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Roboto, sans-serif;
}

.back-button i {
    color: white;
}


.container span {
    background-color: rgb(255, 45, 45);
} 

.projects {
    width: 100%;
    height: auto;
    font-family: Roboto, sans-serif;
}

.projects-more {
    width: 90%;
    display: flex;
    padding: 20px 40px 20px 40px;
    gap: 20px;
    height: auto;
}

.projects-more img {
    width: 40%;
}

.projects-more-text1 h1 {
    color: rgb(90, 90, 255);
}

.divider {
    height: 1px;
    background-color: rgb(22, 22, 22);
    margin: 15px 0 20px 0;
}

.projects-more-text1 p {
    margin-bottom: 40px;
}

.projects-more-text1 a {
    padding: 15px;
    background-color: rgb(90, 90, 255);
    color: white;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.projects-more-text1 a:hover {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    color: rgb(90, 90, 255);
}



.projects-more-text2 h1 {
    color: rgb(255, 81, 81);
}

.projects-more-text2 p {
    margin-bottom: 40px;
}

.projects-more-text2 a {
    padding: 15px;
    background-color: rgb(255, 81, 81);
    color: white;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.projects-more-text2 a:hover {
    padding: 15px;
    background-color: white;
    color: rgb(255, 81, 81);
    border-radius: 10px;
}



.projects-more-text3 h1 {
    color: rgb(34, 151, 59);
}

.projects-more-text3 p {
    margin-bottom: 40px;
}

.projects-more-text3 a {
    padding: 15px;
    background-color: rgb(34, 151, 59);
    color: white;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.projects-more-text3 a:hover {
    padding: 15px;
    background-color: white;
    color: rgb(34, 151, 59);
    border-radius: 10px;
}



.projects-more-text4 h1 {
    color: rgb(254, 79, 31);
}

.projects-more-text4 p {
    margin-bottom: 40px;
}

.projects-more-text4 a {
    padding: 15px;
    background-color: rgb(254, 79, 31);
    color: white;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.projects-more-text4 a:hover {
    padding: 15px;
    background-color: white;
    color: rgb(254, 79, 31);
    border-radius: 10px;
}



.projects-more-text5 h1 {
    color: rgb(254, 156, 43);
}

.projects-more-text5 p {
    margin-bottom: 40px;
}

.projects-more-text5 a {
    padding: 15px;
    background-color: rgb(254, 156, 43);
    color: white;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.projects-more-text5 a:hover {
    padding: 15px;
    background-color: white;
    color: rgb(254, 156, 43);
    border-radius: 10px;
}

.Footer {
    margin-top: 10vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(84, 16, 16, 1) 33%, rgba(89, 44, 2, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 120px 0 0 0;
    font-family: "Roboto", sans-serif;
}


.top-Footer {
    display: flex;
    justify-content: center;
    padding: 6em;
    gap: 3rem;
}

.top-Footer h3 {
    margin-bottom: 5px;
    border-radius: 5px;
}

.left-Footer1 {
    width: 30%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.left-Footer1 p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 1rem;
}

.left-Footer2 {
    width: 30%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.left-Footer2 p {
    margin-top: 10px;
}

.email_footer {
    text-decoration: none;
    color: white;

}

.right-Footer {
    width: 20%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.right-Footer1 li {
    margin-top: 7px;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;
    padding: -10px;
}

.right-Footer a {
    color: white;
}

.top_button {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}