* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
}

nav {
    position: absolute;
    top: 0;
    margin-top: 10px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
}

nav h3 {
    margin-right: 130px;
}

nav h3 span {
    color: rgb(255, 45, 45);
}


nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    gap: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
}

nav ul li {
    padding: 12px;
}

nav ul li:hover {
    background-color: rgb(255, 45, 45);
    border-radius: 5px;
    border: 0px;
    padding: 12px;
    transition: ease-in-out 0.4s;
}


nav a {
    color: white;
}

nav button {
    margin-left: 130px;
    padding: 10px 15px;
    border-radius: 0;
    border: 0px;
    color: white;
    background-color: rgb(255, 45, 45);
    cursor: pointer;
}

nav button:hover {
    border-radius: 20px;
    color: rgb(255, 45, 45);
    background-color: white;
    transition: ease-in-out 0.5s;
}   

.container {
    width: 100%;
    height: 20rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Roboto, sans-serif;
}

.back-button i {
    color: white;
}


.container span {
    background-color: rgb(255, 45, 45);
} 
