* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 18, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    margin-top: 10px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    /* position:fixed;   */
}

nav h3 {
    margin-right: 130px;
}

nav h3 span {
    color: rgb(255, 45, 45);
}


nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    gap: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
}

nav ul li {
    padding: 12px;
}

nav ul li:hover {
    background-color: rgb(255, 45, 45);
    border-radius: 5px;
    border: 0px;
    padding: 12px;
    transition: ease-in-out 0.4s;
}


nav a {
    color: white;
}

nav button {
    margin-left: 130px;
    padding: 10px 15px;
    border-radius: 0;
    border: 0px;
    color: white;
    background-color: rgb(255, 45, 45);
    cursor: pointer;
}

nav button:hover {
    border-radius: 20px;
    color: rgb(255, 45, 45);
    background-color: white;
    transition: ease-in-out 0.5s;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.container::before {
    width: 100%;
    height: 150vh;
    content: "";
    position: absolute;
    background-image: url("asset/photo-1534665482403-a909d0d97c67.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.container-text>* {
    margin: 7px 0;
    color: white;
    /* background-color: black;     */
    font-weight: 300;
}

.container-text h1 {
    font-weight: 900;
}

.container h3 span {
    font-weight: 600;
    background-color: rgb(255, 45, 45);
}

.container a {
    padding: 12px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.container a:hover {
    background-color: white;
    color: rgb(255, 45, 45);
    border-radius: 15px;
    transition: ease-in-out 0.5s;

}

.infobg {
    display: flex;
    margin-top: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(asset/infobg2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20vh;
}

.more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    align-self: center;
    justify-self: center;
}

.more-info-part {
    background-color: rgb(255, 255, 255);
    margin: 120px 20px 0 20px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 15px;
    box-shadow: 8px 8px 5px black;
}

.more-info-part span {
    font-weight: 600;
    width: 10px;
}

.more-info-part i {
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.more-info-part h3 {
    font-size: 20px;
}

.more-info-part p {
    margin-top: -10px;

}

.divider-title {
    justify-self: center;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 8px 8px 5px black;
    padding: 3px;
}

#carouselparent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 1100px;
    height: 450px;
}

.latest-work {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.latest-work-part {
    margin: 30px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0.8);
    opacity: 0.6;
    transition: transform 0.6s ease, opacity 0.6s ease;
    flex: 0 0 400px;
    margin: 0 15px;
    box-shadow: 8px 8px 5px black;
}

.latest-work-part.active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

.latest-work-part1 {
    height: 50%;
    border-radius: 20px;
}

.latest-work-part1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.latest-work-part2 {
    height: 50%;
    padding: 5px 20px 10px 20px;
    z-index: 1;
}

.controls {
    top: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.controls button {
    padding: 20px;
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 8px 8px 5px black;
}

.controls button:hover {
    background-color: rgb(255, 45, 45);
    color: white;
    transition: 0.25s ease-in-out;
}

.carousel-position {
    padding: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-position>* {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid black;
}

.CA {
    background-color: white;
    border: 2px solid black;
}

.Footer {
    width: 100%;
    background: linear-gradient(90deg, rgba(84, 16, 16, 1) 33%, rgba(89, 44, 2, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 120px 0 0 0;
    font-family: "Roboto", sans-serif;
}


.top-Footer {
    display: flex;
    justify-content: center;
    padding: 6em;
    gap: 3rem;
}

.top-Footer h3 {
    margin-bottom: 5px;
    border-radius: 5px;
}

.left-Footer1 {
    width: 30%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.left-Footer1 p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 1rem;
}

.left-Footer2 {
    width: 30%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.left-Footer2 p {
    margin-top: 10px;
}

.email_footer {
    text-decoration: none;
    color: white;

}

.right-Footer {
    width: 20%;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
}

.right-Footer1 li {
    margin-top: 7px;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: left;
    padding: -10px;
}

.right-Footer a {
    color: white;
}

.top_button {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}